.container {
  float: left;
  width: fit-content;
  font-size: larger;
  color: blue;
}
#details {
  float: left;
  width: 400px;
}
button{
    background-color: blanchedalmond;
    text-align: center;
}
.fa{
  float: left;
}
